.card__like {
  background-image: url(../../../images/like.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border-style: none;
  cursor: pointer;
  transition: .3s;
  border: none;
}
  
.card__like:hover {
  opacity: 0.5;
}